*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body,
#root {
    min-height: 100vh;
}

body {
    font: 1rem/1.4 system-ui;
    background: #e5e5e5;
    color: black;
    display: grid;
    place-items: center;
    margin: 0;
}

#root {
    display: grid;
    place-items: center;
}

h1 {
    margin: 0 0 1rem;
    padding: 0;
    color: cornflowerblue;
}

.card {
    min-width: 450px;
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 4px 12px 24px rgba(0, 0, 0, 0.1);
}

.card label + label {
    margin-left: 1rem;
}

.card fieldset {
    margin-bottom: 1rem;
    border: 1px solid #d4d4d4;
    border-radius: 0.4rem;
}

button {
    padding: 0.8rem;
    display: block;
    width: 100%;
    border: none;
    background: cornflowerblue;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: 4px 12px 24px rgba(0, 0, 0, 0.1);
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 0.2rem;
}
